.infos_artesanatos {
    background: url(../IMG/k3.jpg);
    background-size: cover;
}

#bloco_pokebola {
    background: #f7f7f7;
    margin-left: 8%;
    margin-right: 8%;
    height: 4600px;
    border-left: solid 1px #d9d9d9;
    border-right: solid 1px #d9d9d9;
    text-align: center;
}