.bolado {
    background: url(../IMG/k3.jpg);
    background-size: cover;
}


/* PAGINA PRINCIPAL ---------------------------------------------------------------------------------------------------------------------------*/

#foco1_principal {
    background: url(../IMG/teste1.jpg);
    background-position: 30% 60%;
    background-size: cover;
    text-align: center;
    margin-bottom: 30px;
}

#foco3_principal {
    background-color: #f7f7f7;
    padding: 30px;
    margin-bottom: 0;
    padding: 1em;
    margin-bottom: 150px;
}

#info_principal {
    margin-left: 15%;
    margin-right: 15%;
}

#texto_principal {
    margin-right: 1cm;
    margin-left: 1cm;
}


/* PAGINA ARTESANATO ---------------------------------------------------------------------------------------------------------------------------*/

.fotos_artetroca {
    border: solid 1px #737373;
}

.art_bloco {
    border-bottom: solid 1px #d9d9d9;
    text-align: center;
    margin-left: 80px;
    margin-right: 10px;
    margin-top: 10px;
    margin-bottom: 40px;
    padding: 10px;
    width: 420px;
    background-color: #F7F7F7;
    border-radius: 10px;
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
    overflow: hidden;
}

.art_bloco h3 {
    color: #133a13;
    text-align: center;
}

.art_bloco input[type=submit] {
    display: block;
    margin-bottom: 10px;
}

.vizu {
    text-align: center;
    font-size: 14px;
    font-weight: 700;
    height: 36px;
    padding: 0 8px;
}

.art_vizu {
    border: 0px;
    color: #fff;
    text-shadow: 0 1px rgba(0, 0, 0, 0.1);
    background-color: #49d076;
    opacity: 0.8;
    transition: opacity ease 0.9s;
}

.art_vizu:hover {
    border: 0px;
    text-shadow: 0 1px rgba(0, 0, 0, 0.3);
    background-color: #2aa252;
    opacity: 1;
}

#foco1_artesanato {
    background: #f7f7f7;
    background-size: cover;
    text-align: center;
    margin-bottom: 30px;
}

#kkk_artesanato {
    font-size: 23px;
    text-align: center;
    color: #133a13;
    margin-top: 270px;
    margin-right: 160px;
    float: right;
    width: 700px;
}


/* PAGINA DOAÇÕES ---------------------------------------------------------------------------------------------------------------------------*/

.troca_bloco {
    border-bottom: solid 1px #d9d9d9;
    text-align: center;
    margin-left: 80px;
    margin-right: 10px;
    margin-top: 10px;
    margin-bottom: 40px;
    padding: 10px;
    width: 420px;
    background-color: #F7F7F7;
    border-radius: 10px;
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
    overflow: hidden;
}

.troca_bloco h3 {
    color: #133a13;
}

.troca_bloco input[type=submit] {
    display: block;
    margin-bottom: 10px;
}

.troca {
    text-align: center;
    font-size: 14px;
    font-weight: 700;
    height: 36px;
    padding: 0 8px;
}

.troca_vizu {
    border: 0px;
    color: #fff;
    text-shadow: 0 1px rgba(0, 0, 0, 0.1);
    background-color: #49d076;
    opacity: 0.8;
    transition: opacity ease 0.9s;
}

.troca_vizu:hover {
    border: 0px;
    text-shadow: 0 1px rgba(0, 0, 0, 0.3);
    background-color: #2aa252;
    opacity: 1;
}

#foco1_doacao {
    background: #f7f7f7;
    background-size: cover;
    text-align: center;
    margin-bottom: 30px;
}

#kkk_doacao {
    font-size: 23px;
    color: #133a13;
    text-align: center;
    margin-top: 270px;
    margin-right: 210px;
    float: right;
}